@media screen and (max-width: 600px) {
  body {
    background-image: none;
  }
  .page {
    background-image: none;
  }
  *, *:before, *:after {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }

  .mobile-fw {
    width: 100%;
  }

  .photo-section {
    padding: 2em 0;
  }

  .avatar {
    max-width: 256px;
  }

  .page_body {
    height: 100%;
  }


}
