body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  background-image: linear-gradient(-90deg, #FF00A1, #F6FF00);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 210mm;
  min-height: 297mm;
  padding: 10mm;
  margin: 10mm auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  background-image: linear-gradient(-90deg, #f7f9f9, #faf3f8);

  transform: rotateZ(-1deg);
}

.page_body {
  height: 257mm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;

    background-image: none;

  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;

    background-image: none;

    transform: scale(1) rotateZ(0deg);
  }

  *, *:before, *:after {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }

  .d-hotline {
    display: none;
    visibility: hidden;
  }
}
