body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.0;
}


.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 800;
}

.big-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36pt;
  font-weight: 800;
}

.bold-12 {
  font-size: 12pt;
  font-weight: bold;
}

.name-text {
 font-size: 36pt;
}

.position-text {
  font-size: 18pt;
}


.signature-text {
  font-size: 26pt;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}


.hide-on-screen {display:none;}
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
  .hide-on-screen {display:block;}
}
