<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Mihhail Sidorin" %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Roboto" rel="stylesheet">
    <link href="https://unpkg.com/ace-css/css/ace.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= partial('partials/freshchat_head') %>
    <%= partial('partials/gtag_head') %>
  </head>
  <body>
    <%= partial('partials/gtag_body') %>
    <%= yield %>
    <%= partial('partials/freshchat_body') %>
  </body>
</html>
