<div class="work-experience-block py2">
  <p class="experience-position m0"><%= position %> </p>
  <p class="experience-employee-title m0"><%= eployee_name %> </p>
  <p class="experience-time-range mt0"><%= time_range %> </p>
  <p class="experience-description"><%= description %> </p>
</div>
