.experience-position {
  font-size: 12pt;
  font-weight: bold;
}
.experience-employee-title{
  font-size: 11pt;
}
.experience-time-range{
  font-size: 11pt;
  color: darkgray;
}
.experience-description{
  font-size: 10pt;
}
