---
title: Mihhail Sidorin CV
---
<div class="page page-grow">
  <div class="page_body">
    <div class="clearfix">
      <div class="col col-6 mobile-fw">
        <span class="big-title m0 fuchsia">CV</span>
        <span class="clearfix"></span>
        <span class="name-text">Mihhail Sidorin</span>
        <span class="position-text">Full-stack Developer</span>
      </div>
      <div class="col col-6 mobile-fw photo-section">
        <div class="col col-6">
          <img src="images/mihhail-sidorin-avatar.jpg" class="grow avatar"/>
        </div>
        <div class="col col-6 pl1">
          <span class="section-title orange">Personal skills</span>
          <ul class="list-reset bold-12 m0">
            Communicative, Flexible, Tolerant,
            Customer friendly, Nerves made of steel
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix pt2">
      <div class="col col-6 pr1 mobile-fw">
        <span class="section-title blue">Work Experience</span>
        <%= partial('partials/work_experience_block',
                    locals: {
                        position: 'Full-stack software developer',
                        eployee_name: 'Folkefinans AS Eesti filiaal',
                        time_range: 'March 2015 – Current   Tallinn, Estonia / Remote',
                        description: 'Developing excellent Ruby on Rails based applications for leading Scandinavian everyday financial services. Involved in all layers of development from customer stories to deployment details. RoR, AWS, CI, AWS Lambda, Docker. Since summer 2016 entirely remote position.'
                    })
        %>
        <%= partial('partials/work_experience_block',
                    locals: {
                        position: 'Software developer',
                        eployee_name: 'Desk Rock OÜ',
                        time_range: 'December 2013 – February 2015   Tallinn, Estonia',
                        description: 'Developing Ruby on Rails applications from scratch, building powerful business applications.
                                      Some of the work tasks: Improve Agile work process,
                                      Project tasks analysis and planning, Refactor legacy code, Integrate with business logic SEPA Payments,
                                      ISO 20022 and Estonian E-Invoice format.
                                      '
                    })
        %>
        <%= partial('partials/work_experience_block',
                    locals: {
                        position: 'IT Consulting services',
                        eployee_name: 'Renkode OÜ',
                        time_range: 'May 2013 – Present',
                        description: 'Providing consultancy services. Ruby on Rails platform based applications for business operating.'
                    })
        %>
        <%= partial('partials/work_experience_block',
                    locals: {
                        position: 'Developer in Test',
                        eployee_name: 'Tieto',
                        time_range: 'July 2012 – November 2013 (1 year 5 months) Tallinn',
                        description: 'Maintenance of automated tests for corporate customers service portal of Elisa Finland with Java EE technologies using the Agile process. Cucumber, Selenium.'
                    })
        %>
        <p>Experience since November 2009  on <%= link_to 'LinkedIn', "www.linkedin.com/in/mihhailsidorin", class: 'grow' %></p>
      </div>
      <div class="col col-6 mobile-fw">
        <div class="section">
          <span class="section-title maroon">Professional skills</span>
          <ul class="list-reset">
            <li class="pb2 bold">Ruby On Rails, AWS, Fintech industry</li>

            <li>Few lines about my stack:</li>
            <li>Docker, AWS, GIT, Git-flow</li>
            <li>SASS, LESS, CSS, Haml, Slime</li>
            <li>JavaScript, Coffee Script, ES 2015</li>
            <li>React, jQuery, Amazon lambda</li>
            <li>IntelliJ IDEA, RubyMine, VIM, TMux</li>
            <li class="pb2">RESTful API, Postgres, Redis, PL/SQL, SAML</li>

            <li>DRY, YAGNI, KISS, SOLID, patterns etc.</li>
            <li class="pb2">Hidden wishes to be reactive and functional</li>

            <li class="pb2">Rspec, Cucumber, Test Driven Development, Behaviour Driven Development, Test automation. Monitor with Rollbar, NewRelic, Splunk, Airbrake</li>

            <li class="pb2">Agile Methodologies, Scrum, Trello, Slack, Office 365 work environment, Okta</li>

            <li>Hobby interest in Go, Scala, NodeJS, AngularJS, Java, JHipster, to be continued</li>
          </ul>
        </div>
        <div class="section">
          <span class="section-title green">Education</span>
          <ul class="list-reset">
            <li>Technology University of Tallinn</li>
            <li>Active online education member</li>
            <li>Thoughtbot Upcase / RubyTapas subscriber</li>
            <li>Attendant of professional conferences and workshops</li>
          </ul>
        </div>
        <div class="section">
        <span class="section-title teal">Human languages</span>
          <p><span class="bold">English, Russian, Estonian</span><span class="italic"> and Finnish, Swedish, German as project’s language</span></p>
      </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="col col-6 mobile-fw">
        <ul class="list-reset no-print">
          <li><%= link_to 'Stack overflow', "https://stackoverflow.com/cv/mihhailsidorin" %></li>
          <li><%= link_to 'Contact securely in keybase', "https://keybase.io/mihhailsidorin" %></li>
          <li>Published <%= Time.now.utc.strftime("%d.%m.%Y %H:%M") %> UTC</li>
          <li><%= link_to "Project's source code", "https://bitbucket.org/uzzer/mihhail-sidorin.firebaseapp.com/src/#{`git rev-parse HEAD`}/" %></li>
        </ul>
        <ul class="list-reset hide-on-screen">
          <li>https://stackoverflow.com/cv/mihhailsidorin</li>
          <li>https://keybase.io/mihhailsidorin</li>
          <li>Published <%= Time.now.utc.strftime("%d.%m.%Y %H:%M") %> UTC</li>
          <li>This document https://mihhail-sidorin.firebaseapp.com/</li>
          <li>https://bitbucket.org/uzzer/mihhail-sidorin.firebaseapp.com/src/<%= `git rev-parse HEAD` %></li>
        </ul>
      </div>
      <div class="col col-6 mobile-fw">
        <ul class="list-reset right right-align no-print">
          <li><%= link_to 'LinkedIn', "https://www.linkedin.com/in/mihhailsidorin", class: 'signature-text' %></li>
          <li><%= link_to 'msidorin@gmail.com', "mailto:msidorin@gmail.com?subject=Contact from MS-CV form", class: 'signature-text' %></li>
        </ul>
        <ul class="list-reset right right-align hide-on-screen">
          <li>https://www.linkedin.com/in/mihhailsidorin</li>
          <li class="signature-text">msidorin@gmail.com</li>
        </ul>
      </div>
    </div>
</div>
